<mat-sidenav-container>
  <mat-sidenav
    mode="over"
    opened="true"
    [disableClose]="true"
    [fixedInViewport]="true"
    class="sidenav"
  >
    <mat-list>
      <mat-list-item class="home-link-item">
        <mat-icon mat-list-icon>menu</mat-icon>
      </mat-list-item>
      <mat-list-item class="home-link-item">
        <mat-icon mat-list-icon>home</mat-icon>
        Home
      </mat-list-item>
      <mat-list-item class="home-link-item">
        <mat-icon mat-list-icon>dataset</mat-icon>
        View All
      </mat-list-item>
      <mat-list-item class="home-link-item">
        <mat-icon mat-list-icon>add</mat-icon>
        New
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
</mat-sidenav-container>
